@if (loading) {
  <div class="text-4xl flex justify-center items-center">Loading...</div>
} @else {
  <h1 class="font-bold text-4xl">
    Welcome back
    {{
      firebaseService
        .currentUserSig()
        ?.username?.split(" ")
        ?.slice(0, 1)
        ?.join(" ")
    }}
    !
  </h1>
  <form
    class="flex flex-col items-center gap-4 justify-around w-full max-w-md mx-auto bg-white text-black p-8 rounded-lg shadow-lg w-4/5"
  >
    <!-- <app-avatar [avatarUrl]="this.avatarUrl"> </app-avatar> -->
    <img
      src="{{
        firebaseService.currentUserSig()?.profileImgUrl ||
          'https://res.cloudinary.com/dv765kdgq/image/upload/v1710325774/profile_tjptoi.svg'
      }}"
      alt="{{ firebaseService.currentUserSig()?.username }}"
      class="rounded-full h-48 w-48 object-contain"
    />
    <div>
      <label for="email">Email</label>
      <input
        id="email"
        type="text"
        [value]="firebaseService.currentUserSig()?.email"
        disabled
      />
    </div>
    <div>
      <label for="username">Name</label>
      <input
        id="username"
        type="text"
        [value]="firebaseService.currentUserSig()?.username"
        disabled
      />
    </div>

    <div>
      <button
        class="rounded-lg bg-red-500 p-2 px-8 border-2 text-white"
        (click)="signOut()"
      >
        Sign Out
      </button>
    </div>
  </form>
}
