<div
  class="bg-secondaryBlue h-full rounded-[35px] flex flex-col justify-around items-center py-6 px-4"
>
  <right-sidebar-notification class="w-11/12"></right-sidebar-notification>

  <sidebar-menu-item
    [label]="'Trending Feeds'"
    [route]="''"
    [isBgDarker]="true"
  ></sidebar-menu-item>

  <trending-feeds></trending-feeds>

  <sidebar-menu-item
    [label]="'Profile Activity'"
    [route]="''"
    [isBgDarker]="true"
  ></sidebar-menu-item>

  <profile-activity></profile-activity>
</div>
