@defer (on viewport) {
  <!-- deferred template fragment -->
  <div
    @fade
    class="flex overflow-hidden h-screen w-screen justify-between pl-8 transition ease-in-out"
    [ngClass]="{
      'bg-secondaryBlue': currentNavIndex === 1,
      'bg-tertiaryBlue': currentNavIndex === 2,
      'bg-darkBlue': currentNavIndex === 3
    }"
  >
    <div
      class="w-full flex flex-col items-center justify-start pb-5 relative lg:items-start lg:justify-between lg:w-3/5"
    >
      <!-- Hamburger Menu Icon -->
      <span
        class="cursor-pointer ml-auto mr-5 mt-5 inline lg:hidden"
        (click)="openMenu()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
        >
          <rect width="32" height="32" fill="#069FA9" fill-opacity="0.5" />
          <path
            d="M5.33333 24H26.6667C27.4 24 28 23.4 28 22.6667C28 21.9333 27.4 21.3333 26.6667 21.3333H5.33333C4.6 21.3333 4 21.9333 4 22.6667C4 23.4 4.6 24 5.33333 24ZM5.33333 17.3333H26.6667C27.4 17.3333 28 16.7333 28 16C28 15.2667 27.4 14.6667 26.6667 14.6667H5.33333C4.6 14.6667 4 15.2667 4 16C4 16.7333 4.6 17.3333 5.33333 17.3333ZM4 9.33333C4 10.0667 4.6 10.6667 5.33333 10.6667H26.6667C27.4 10.6667 28 10.0667 28 9.33333C28 8.6 27.4 8 26.6667 8H5.33333C4.6 8 4 8.6 4 9.33333Z"
            fill="#F8F8F8"
          />
        </svg>
      </span>
      <!-- End of Hamburger Menu Icon -->

      <!-- Hamburger Menu -->
      @if (isMenuOpen()) {
        <menu-mobile
          @fade
          class="absolute top-5 right-5 rounded-[20px] w-1/2 h-4/5 bg-darkBlue block lg:hidden"
          (isCloseMenu)="closeMenu()"
        ></menu-mobile>
      }
      <!-- End of Hamburger Menu -->

      <div
        class="w-full h-max my-auto rounded-[35px] p-5 flex flex-col justify-evenly items-start text-white lg:bg-slate-100 lg:text-black"
      >
        <!-- ABOUT CONTENT -->
        <app-about-text></app-about-text>
        <!-- End of ABOUT CONTENT -->

        <div class="justify-start items-center space-x-6 hidden lg:flex">
          @for (img of images; track $index) {
            <div
              [style]="{
                'background-image': 'url(' + img.bgImg + ')',
                'background-size': 'cover',
                'background-position': 'center',
                'background-repeat': 'no-repeat'
              }"
              (click)="selectNav($index)"
              [ngClass]="{
                'animate__animated animate__bounce':
                  result.isAdjacent === false &&
                  ($index === result.left || $index === result.right)
              }"
              class="w-52 h-52 rounded-full flex justify-center items-center cursor-pointer relative"
            >
              <img src="{{ img.imgSrc }}" class="w-52 h-52" alt="Round image" />
              @if (currentNavIndex === $index) {
                <div
                  @fade
                  class="absolute bottom-0 left-3 h-2 w-10/12 bg-primaryBlue rounded-full"
                ></div>
              }
            </div>
          }
        </div>
      </div>
      <!-- Animated GIFs on Mobile View -->
      <img
        @fade
        src="{{ mobileImages[currentMobileImageIndex].imgSrc }}"
        alt="{{ mobileImages[currentMobileImageIndex].title }}"
        class="w-11/12 max-w-[520px] mt-auto lg:hidden"
      />
      <!-- End of Animated GIFs on Mobile View -->
    </div>
    <div
      @fade
      class="w-2/5 relative justify-center items-center arcs hidden lg:flex"
    >
      @switch (currentNavIndex) {
        @case (0) {
          <span
            @longerFade
            class="absolute -bottom-15 -right-10 transition ease-in delay-900"
          >
            <svg
              width="581"
              height="897"
              viewBox="0 0 581 897"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g filter="url(#filter0_d_92_85)">
                <ellipse
                  cx="817.175"
                  cy="860.257"
                  rx="814.718"
                  ry="785.425"
                  transform="rotate(-52.9498 817.175 860.257)"
                  fill="#035A76"
                  fill-opacity="0.81"
                />
              </g>
              <defs>
                <filter
                  id="filter0_d_92_85"
                  x="0.956055"
                  y="-0.00717163"
                  width="1712.44"
                  height="1728.53"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dx="40" dy="4" />
                  <feGaussianBlur stdDeviation="30" />
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_92_85"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_92_85"
                    result="shape"
                  />
                </filter>
              </defs>
            </svg>
          </span>
        }
        @case (1) {
          <span
            @longerFade
            class="absolute -bottom-15 -right-10 transition ease-in delay-900"
          >
            <svg
              width="582"
              height="977"
              viewBox="0 0 582 977"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g filter="url(#filter0_d_92_101)">
                <ellipse
                  cx="1111.6"
                  cy="1099.72"
                  rx="1110.74"
                  ry="1042.27"
                  transform="rotate(-147.159 1111.6 1099.72)"
                  fill="#0242A0"
                  fill-opacity="0.81"
                />
              </g>
              <defs>
                <filter
                  id="filter0_d_92_101"
                  x="0.393555"
                  y="-19.2502"
                  width="2302.42"
                  height="2245.93"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dx="40" dy="4" />
                  <feGaussianBlur stdDeviation="30" />
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_92_101"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_92_101"
                    result="shape"
                  />
                </filter>
              </defs>
            </svg>
          </span>
        }
        @case (2) {
          <span
            @longerFade
            class="absolute -bottom-15 -right-10 transition ease-in delay-900"
          >
            <svg
              width="641"
              height="884"
              viewBox="0 0 641 884"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g filter="url(#filter0_d_92_120)">
                <ellipse
                  cx="1010.22"
                  cy="1000.24"
                  rx="933.765"
                  ry="998.265"
                  transform="rotate(112.453 1010.22 1000.24)"
                  fill="#8A02A0"
                  fill-opacity="0.53"
                />
              </g>
              <defs>
                <filter
                  id="filter0_d_92_120"
                  x="0.834961"
                  y="0.559082"
                  width="2098.77"
                  height="2007.37"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dx="40" dy="4" />
                  <feGaussianBlur stdDeviation="30" />
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_92_120"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_92_120"
                    result="shape"
                  />
                </filter>
              </defs>
            </svg>
          </span>
        }
        @case (3) {
          <span
            @longerFade
            class="absolute -bottom-15 -right-10 transition ease-in delay-900"
          >
            <svg
              width="609"
              height="964"
              viewBox="0 0 609 964"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g filter="url(#filter0_d_92_138)">
                <ellipse
                  cx="1055.65"
                  cy="1093.52"
                  rx="1031.74"
                  ry="1040.25"
                  transform="rotate(40.9787 1055.65 1093.52)"
                  fill="#2C0157"
                  fill-opacity="0.55"
                />
              </g>
              <defs>
                <filter
                  id="filter0_d_92_138"
                  x="0.223633"
                  y="0.905762"
                  width="2190.85"
                  height="2193.23"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dx="40" dy="4" />
                  <feGaussianBlur stdDeviation="30" />
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_92_138"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_92_138"
                    result="shape"
                  />
                </filter>
              </defs>
            </svg>
          </span>
        }
      }
      @for (nav of navs; track $index) {
        @if (nav.isVisible) {
          <img
            @fade
            [@slideInAndOut]="nav.animationState"
            (@slideInAndOut.start)="animationDone(false)"
            (@slideInAndOut.done)="animationDone(true)"
            [class.animate__animated]="isAnimationDone"
            [class.animate__wobble]="isAnimationDone"
            src="{{ images[$index].imgSrc }}"
            class="w-[400px] h-[400px] absolute"
            alt=""
          />
        }
      }
    </div>
  </div>
} @placeholder {
  <!-- placeholder template fragment -->
  <h1 class="text-center"></h1>
} @loading (minimum 3s) {
  <ngx-ui-loader
    @fade
    [fgsColor]="'#30b3b5'"
    [hasProgressBar]="false"
    [fgsType]="SPINNER.squareJellyBox"
  ></ngx-ui-loader>
}
