.arch {
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.9s ease-in;
  -webkit-transition: background-image 0.9s ease-in;
  -moz-transition: background-image 0.9s ease-in;
  -ms-transition: background-image 0.9s ease-in;
  -o-transition: background-image 0.9s ease-in;
}
