<div
  @fade
  class="flex overflow-hidden h-screen w-screen justify-between pl-8 transition ease-in-out"
  [ngClass]="{
    'bg-secondaryBlue': currentNavIndex === 1,
    'bg-tertiaryBlue': currentNavIndex === 2,
    'bg-darkBlue': currentNavIndex === 3,
  }"
>
  <div class="w-3/5 flex flex-col justify-between pb-5">
    <app-about-text></app-about-text>
    <div class="flex justify-start items-center space-x-6">
      @for (img of images; track $index) {
      <div
        [style]="{
          'background-image': 'url(' + img.bgImg + ')',
          'background-size': 'cover',
          'background-position': 'center',
          'background-repeat': 'no-repeat',
        }"
        (click)="selectNav($index)"
        class="w-48 h-48 rounded-full flex justify-center items-center cursor-pointer"
      >
        <img src="{{ img.imgSrc }}" class="w-48 h-48" alt="" />
      </div>
      }
    </div>
  </div>
  <div
    @fade
    class="w-2/5 relative flex justify-center items-center arch"
    [ngClass]="{
      'bg-arc1': currentNavIndex === 0,
      'bg-arc2': currentNavIndex === 1,
      'bg-arc3': currentNavIndex === 2,
      'bg-arc4': currentNavIndex === 3,
    }"
  >
    @for (nav of navs; track $index) { @if (nav.isVisible) {
    <img
      @fade
      [@slideInAndOut]="nav.animationState"
      (@slideInAndOut.start)="animationDone(false)"
      (@slideInAndOut.done)="animationDone(true)"
      [class.animate__animated]="isAnimationDone"
      [class.animate__wobble]="isAnimationDone"
      src="{{ images[$index].imgSrc }}"
      class="w-[400px] h-[400px] absolute"
      alt=""
    />
    <!-- <div
      [style]="{
          'background-image': 'url(' + images[$index].bgImg + ')',
          'background-size': 'cover',
          'background-position': 'center',
          'background-repeat': 'no-repeat',
        }"
      class="w-[400px] h-[400px] rounded-full mx-auto my-auto flex justify-center items-center cursor-pointer"
    >
      
    </div> -->
    } }
  </div>
</div>
