.arch {
  width: 1629.436px;
  height: 1570.851px;
  transform: rotate(-52.95deg);
  flex-shrink: 0;
  border-radius: 1629.436px;
  background: rgba(3, 90, 118, 0.81);
  box-shadow: 40px 4px 60px 0px rgba(0, 0, 0, 0.25);
}
