<div
  class="bg-cbWhite h-full w-full rounded-[35px] flex items-start justify-center shadow-2xl transition duration-300 ease-in-out md:mt-[50px]"
>
  <div class="w-4/5 p-5 flex flex-col justify-center items-start space-y-8">
    <!-- Cover Image -->
    <div>
      <h2 class="font-bold text-3xl md:text-4xl">ABOUT BLOG</h2>
    </div>
    <!-- End of Cover Image -->
    <!-- User -->
    <div
      class="flex flex-col justify-center items-center gap-3 w-full md:flex-row md:justify-between md:gap-0"
    >
      <img
        src="https://cdn.pixabay.com/photo/2018/11/13/21/43/avatar-3814049_1280.png"
        alt="user profile picture"
        class="w-2/5 object-cover rounded-full md:w-20 md:h-20"
      />
      <div
        class="flex flex-col items-start justify-center space-y-6 text-center md:items-center"
      >
        <p class="font-bold uppercase text-slate-500 text-2xl">POSTED BY:</p>
        <p class="font-bold uppercase text-2xl">
          @if (isLoading()) {
            Loading...
          } @else {
            {{ blogAuthor.name }}
          }
        </p>
        <div
          class="flex flex-col justify-center items-start text-white space-y-6 space-x-0 md:flex-row md:space-x-6 md:space-y-0 md:items-center"
        >
          <button
            class="rounded-lg py-2 px-3 bg-tertiaryBlue shadow-2xl md:py-4 md:px-6"
          >
            @if (!isLoading()) {
              {{ blogAuthor.blogs.length }}
              {{ blogAuthor.blogs.length > 1 ? "BLOGS" : "BLOG" }}
            } @else {
              LOADING
            }
          </button>
          <button
            [disabled]="blogAuthorIsCurrentUser"
            (click)="followUser(blogAuthor.id)"
            class="rounded-lg py-2 px-3 bg-tertiaryBlue shadow-2xl md:py-4 md:px-6 disabled:opacity-50 disabled:cursor-not-allowed"
          >
            @if (followingMetaData()) {
              FOLLOWING
            } @else {
              FOLLOW
            }
          </button>
        </div>
      </div>
    </div>
    <!-- End of User -->
    <!-- Engagements -->
    <div class="flex flex-col justify-around items-center">
      <p class="font-bold">SIMILAR BLOGS</p>
      <div
        class="bg-primaryBlue rounded-[20px] p-4 flex flex-col space-y-6 items-center text-lg"
      >
        <div class="flex justify-center items-center gap-4">
          <img
            src="https://cdn.pixabay.com/photo/2018/11/13/21/43/avatar-3814049_1280.png"
            alt="user profile picture"
            class="w-20 h-20 object-cover rounded-full"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta,
            quaerat!
          </p>
        </div>
        <div class="flex justify-center items-center gap-4">
          <img
            src="https://cdn.pixabay.com/photo/2018/11/13/21/43/avatar-3814049_1280.png"
            alt="user profile picture"
            class="w-20 h-20 object-cover rounded-full"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta,
            quaerat!
          </p>
        </div>
        <div class="flex justify-center items-center gap-4">
          <img
            src="https://cdn.pixabay.com/photo/2018/11/13/21/43/avatar-3814049_1280.png"
            alt="user profile picture"
            class="w-20 h-20 object-cover rounded-full"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta,
            quaerat!
          </p>
        </div>
      </div>
    </div>
    <!-- End of Engagements -->
    <!-- Social Share -->
    <div class="flex flex-col justify-around items-center">
      <p class="font-bold">SOCIAL SHARE</p>
      <div class="flex items-center justify-start space-x-6">
        <img
          src="https://cdn.pixabay.com/photo/2017/11/10/05/05/whatsapp-2935415_1280.png"
          alt="user profile picture"
          class="w-10 h-10 object-cover rounded-full"
        />
        <img
          src="https://cdn.pixabay.com/photo/2017/11/10/05/05/whatsapp-2935415_1280.png"
          alt="user profile picture"
          class="w-10 h-10 object-cover rounded-full"
        />
        <img
          src="https://cdn.pixabay.com/photo/2017/11/10/05/05/whatsapp-2935415_1280.png"
          alt="user profile picture"
          class="w-10 h-10 object-cover rounded-full"
        />
      </div>
    </div>
    <!-- End of Social Share -->
  </div>
</div>

<ngx-ui-loader [fgsType]="SPINNER.ballScaleMultiple"></ngx-ui-loader>
