<div class="flex flex-col justify-evenly items-center">
  <sidebar-menu-item
    [label]="'Profile Activity'"
    [route]="''"
    [isLink]="false"
    [isBgDarker]="true"
  ></sidebar-menu-item>
  <div class="flex justify-center items-center mb-3">
    @for (profile of profiles | slice:0:5 ; track $index) {
    <img src="{{ profile.image }}" alt="{{ profile.name }}" class="w-1/5" />
    }
  </div>

  <p class="text-white text-4xl font-istokWeb">
    <span class="text-5xl">{{ followers() | shrinkNumber : 2 }}</span> followers
    active
  </p>
</div>
