<div
  class="bg-secondaryBlue w-full h-screen rounded-[35px] flex flex-col justify-around items-center px-4 py-8"
>
  <sidebar-menu-item
    [label]="currentBlog().label"
    [route]="currentBlog().route"
    [icon]="currentBlog().icon"
    [removeLabelOnResponsive]="true"
    [height]="'10'"
    class="w-11/12"
  ></sidebar-menu-item>
  <h2 class="text-white text-4xl font-bold">Menu</h2>
  @for (menu of menuItems; track $index) {
    <sidebar-menu-item
      [label]="menu.label"
      [route]="menu.route"
      [height]="'10'"
      [icon]="menu.icon"
      [removeLabelOnResponsive]="true"
      class="w-11/12"
    ></sidebar-menu-item>
  }
  <img src="assets/gifs/rocket.gif" alt="rocket gif" class="shrink-0" />
</div>
