.main {
  background-image: url("../../../assets/images/home-bg.png");
  background-color: #069fa9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  .sub-main {
    border-radius: 53px;
    border: 1px solid #069fa9;
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(12.5px);
  }
}
