<div @fade class="main bg-primaryBlue flex justify-center items-center">
  <div
    class="sub-main flex-col justify-between w-5/6 h-max p-2 md:px-6 md:pb-10 md:flex"
  >
    <app-header
      class="w-full"
      [isHamburgerMenuOpen]="isHamburgerMenuOpen()"
      (isMenuOpen)="updateMenuStatus($event)"
    ></app-header>
    <app-body
      class="w-full"
      (isGetStartedButtonClicked)="initiateLoader($event)"
    ></app-body>
  </div>
</div>

<ngx-ui-loader [fgsType]="SPINNER.ballScaleMultiple"></ngx-ui-loader>
