<div id="body" @fade>
  <div
    class="flex justify-center items-center relative w-full h-screen overflow-hidden"
  >
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="card rounded-[15px] w-10/12 md:w-1/3"
    >
      <h1 class="title">Register</h1>
      <p class="subtitle">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username..."
          formControlName="username"
          class="input-container mt-1 p-4 w-full border rounded-md placeholder:text-white placeholder:font-semi-bold placeholder:text-3xl placeholder:p-3 focus:outline-none focus:ring-2 focus:ring-pink-300 focus:border-transparent"
        />
        @if (handleError("username", "required")) {
          <div class="text-yellow-300 text-sm mt-2">Username is required</div>
        }
      </p>
      <p class="subtitle">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email..."
          formControlName="email"
          class="input-container mt-1 p-4 w-full border rounded-md placeholder:text-white placeholder:font-semi-bold placeholder:text-3xl placeholder:p-3 focus:outline-none focus:ring-2 focus:ring-pink-300 focus:border-transparent"
        />
        @if (handleError("email", "required")) {
          <div class="text-yellow-300 text-sm mt-2">Email is required</div>
        } @else if (handleError("email", "email")) {
          <div class="text-yellow-300 text-sm mt-2">Enter valid email</div>
        }
      </p>

      <p class="subtitle">
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password..."
          formControlName="password"
          class="input-container mt-1 p-4 w-full border rounded-md placeholder:text-white placeholder:font-semi-bold placeholder:text-3xl placeholder:p-3 focus:outline-none focus:ring-2 focus:ring-pink-300 focus:border-transparent"
        />
        @if (handleError("password", "required")) {
          <div class="text-yellow-300 text-sm mt-2">Password is required</div>
        } @else if (handleError("password", "minlength")) {
          <div class="text-yellow-300 text-sm mt-2">
            Password must be at least 6 characters
          </div>
        }
      </p>

      <div class="w-full flex justify-end">
        <button [disabled]="registerForm.invalid" type="submit" class="btn">
          Register
        </button>
      </div>

      <div class="text-left">
        <p class="text-sm text-slate-200">Already have an account?</p>
        <a routerLink="/auth/login" class="text-lime-300 hover:underline"
          >Login here</a
        >
      </div>
    </form>
    <div class="blob"></div>
  </div>
</div>

<ngx-ui-loader
  @fade
  [fgsColor]="'#30b3b5'"
  [hasProgressBar]="false"
  [fgsType]="SPINNER.squareJellyBox"
></ngx-ui-loader>
