<div class="bg-primaryBlue h-screen flex items-center justify-center">
  <div class="bg-gray-100 p-8 rounded shadow-md w-10/12 md:w-2/5">
    <h2 class="text-4xl font-semibold mb-4">Register</h2>

    <!-- Email Input -->
    <div class="mb-4">
      <label for="email" class="block text-sm font-medium text-gray-600"
        >Email</label
      >
      <input
        type="email"
        id="email"
        name="email"
        class="mt-1 p-2 w-full border rounded-md"
      />
    </div>

    <!-- Username Input -->
    <div class="mb-4">
      <label for="username" class="block text-sm font-medium text-gray-600"
        >Username</label
      >
      <input
        type="text"
        id="username"
        name="username"
        class="mt-1 p-2 w-full border rounded-md"
      />
    </div>

    <!-- Password Input -->
    <div class="mb-4">
      <label for="password" class="block text-sm font-medium text-gray-600"
        >Password</label
      >
      <input
        type="password"
        id="password"
        name="password"
        class="mt-1 p-2 w-full border rounded-md"
      />
    </div>

    <!-- Confirm Password Input -->
    <div class="mb-6">
      <label
        for="confirm-password"
        class="block text-sm font-medium text-gray-600"
        >Confirm Password</label
      >
      <input
        type="password"
        id="confirm-password"
        name="confirm-password"
        class="mt-1 p-2 w-full border rounded-md"
      />
    </div>

    <!-- Register Button -->
    <button class="bg-blue-500 text-white p-2 rounded-md w-full">
      Register
    </button>

    <!-- Login Link -->
    <div class="mt-4 text-center">
      <p class="text-sm text-gray-600">Already have an account?</p>
      <a routerLink="/auth/login" class="text-blue-500 hover:underline"
        >Login here</a
      >
    </div>
  </div>
</div>
