<div
  class="w-4/5 h-4/5 p-5 mt-5 bg-white text-black mx-auto rounded-[35px] flex flex-col justify-start items-center"
>
  <h1 class="text-4xl font-bold">Add blog</h1>

  <form
    [formGroup]="addBlogForm"
    (ngSubmit)="createBlog()"
    class="w-full flex flex-col justify-center items-center space-y-6 mt-5"
  >
    <input
      type="text"
      class="w-3/4 h-12 p-3 rounded-lg border-2 border-gray-300"
      placeholder="Title"
      formControlName="title"
    />

    <input
      type="text"
      class="w-3/4 h-12 p-3 rounded-lg border-2 border-gray-300"
      placeholder="Category"
      formControlName="category"
    />

    <input
      type="text"
      class="w-3/4 h-12 p-3 rounded-lg border-2 border-gray-300"
      placeholder="Short Description"
      formControlName="shortDescription"
    />

    <input
      type="text"
      class="w-3/4 h-12 p-3 rounded-lg border-2 border-gray-300"
      placeholder="Cover Image"
      formControlName="imageUrl"
    />

    <!-- <input
      type="text"
      class="w-3/4 h-12 p-3 rounded-lg border-2 border-gray-300"
      placeholder="Content"
      formControlName="content"
    /> -->
    <rich-text-editor
      class="w-3/4 p-3 rounded-lg border-2 border-gray-300"
      [control]="addBlogForm.controls.content"
      formControlName="content"
    ></rich-text-editor>

    <button
      class="w-3/4 h-12 p-3 rounded-lg bg-primaryBlue text-white flex justify-center items-center"
    >
      Add Blog
    </button>
  </form>
</div>
