<div class="w-full flex justify-center items-center">
  <div
    class="w-full flex flex-col justify-end items-center text-white text-center space-y-8 md:w-1/2"
  >
    <div
      class="flex items-center align-middle text-4xl font-bold font-irishGrover text-gold"
    >
      <span class="inline-block md:hidden">C</span>
      <img
        src="assets/svgs/logo.svg"
        width="200"
        height="200"
        class="logo-home"
        alt=""
      />
      <span class="inline-block md:hidden"> NTRIBUVERSE </span>
    </div>
    <p class="text-3xl lg:text-4xl">Fuel your passion for</p>
    <p
      class="text-3xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-gold via-white to-gold capitalize lg:text-5xl"
    >
      <span class="text-7xl">O</span>pen <span class="text-7xl">S</span>ource
    </p>
    <p class="text-3xl lg:text-4xl">
      a dynamic platform where developers converge, collaborate, and create the
      future of technology together.
    </p>
    <button
      class="text-3xl lg:text-4xl text-black font-bold rounded-full p-4 bg-primaryBlue hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-r hover:from-gold hover:via-white hover:to-gold hover:scale-105 transition-all duration-300 ease-in-out"
      (click)="navigateToDashboard()"
    >
      GET STARTED
    </button>
  </div>
  <div class="flex-col justify-end items-center hidden md:flex md:w-1/2">
    <img src="assets/gifs/tech-bro.gif" class="z-10 w-[380px]" alt="" />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="458"
      height="255"
      viewBox="0 0 458 255"
      fill="none"
      class="-mt-[200px] z-0 w-[300px]"
    >
      <path
        d="M0 122.418C0 84.2567 27.9507 51.8527 65.6984 46.2516L368.968 1.25243C422.044 -6.62301 466.699 40.8412 455.605 93.3389L434.35 193.92C426.826 229.524 395.404 255 359.014 255H77.0001C34.4741 255 0 220.526 0 178V122.418Z"
        fill="#D9D9D9"
      />
    </svg>
  </div>
</div>
