<div class="content flex justify-between items-center px-8">
  <div
    class="flex flex-col justify-center items-center text-white text-3xl space-y-8"
  >
    <img src="assets/svgs/logo.svg" width="200" height="200" alt="" />
    <p>Fuel your passion for</p>
    <p>
      <span class="text-primaryBlue text-9xl">O</span>pen
      <span class="text-primaryBlue text-9xl">S</span>ource
    </p>
    <p>
      a dynamic platform where developers converge, collaborate, and create the
      future of technology together.
    </p>
    <button class="text-4xl text-black rounded-full p-4 bg-primaryBlue">
      GET STARTED
    </button>
  </div>
  <div class="flex flex-col justify-center items-center">
    <img src="assets/gifs/tech-bro.gif" class="z-[99]" alt="" />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="458"
      height="255"
      viewBox="0 0 458 255"
      fill="none"
      class="-mt-64"
    >
      <path
        d="M0 122.418C0 84.2567 27.9507 51.8527 65.6984 46.2516L368.968 1.25243C422.044 -6.62301 466.699 40.8412 455.605 93.3389L434.35 193.92C426.826 229.524 395.404 255 359.014 255H77.0001C34.4741 255 0 220.526 0 178V122.418Z"
        fill="#D9D9D9"
      />
    </svg>
  </div>
</div>
