<div class="flex bg-white px-8 py-3 shadow-lg shadow-white">
  <div class="w-1/2 flex flex-col justify-center items-start">
    @for (coolAnimal of coolTechAnimals; track $index) {
    <img
      src="{{ coolAnimal.svgUrl }}"
      [width]="isTopOrBottom($index) === 'center' ? '80%' : '143px'"
      alt="{{ coolAnimal.title }}"
      class="-rotate-[18.334deg] duration-700 ease-in-out cursor-pointer"
      [ngClass]="{
        'w-3/4': isTopOrBottom($index) === 'center',
      }"
    />}
  </div>
  <div class="w-1/2 flex flex-col justify-evenly items-center">
    <router-outlet></router-outlet>

    <div class="flex justify-end items-center">
      @for (coolAnimal of coolTechAnimals; track $index) {
      <div
        class="flex flex-col justify-center items-center relative"
        [class]="{
          'border-b-2 border-blue-500': activeSlideIndex === $index
        }"
      >
        <img
          src="{{ coolAnimal.svgUrl }}"
          alt="{{ coolAnimal.title }}"
          width="143px"
          height="150px"
          class="cursor-pointer transition ease-in-out delay-700"
          (click)="selectAnimal($index)"
        />
        @if (activeSlideIndex === $index) {
        <div
          @fade
          class="absolute bottom-0 left-0 h-2 w-full bg-secondaryBlue rounded-full"
        ></div>
        }
      </div>
      }
    </div>
  </div>
</div>
