<div
  class="mx-auto flex flex-col items-center justify-center gap-2 text-center p-4 bg-white rounded-lg shadow-lg w-3/4 h-96 space-y-6"
  aria-live="polite"
>
  <p class="font-italic text-3xl">
    Sign in via magic link with your email below
  </p>
  <form
    [formGroup]="signInForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-4 items-center"
  >
    <div>
      <label for="email">Email</label>
      <input
        id="email"
        formControlName="email"
        class="ml-3 rounded-lg border-2 border-gray-300 p-2 w-96"
        type="email"
        placeholder="Your email"
      />
    </div>
    <div>
      <button
        type="submit"
        class="rounded-lg bg-primaryBlue p-2 px-8 border-2 text-white"
        [disabled]="loading"
      >
        {{ loading ? "Loading" : "Send magic link" }}
      </button>
    </div>
  </form>
</div>
