<div class="flex flex-col items-start justify-between py-8 h-full">
  <h2 class="text-4xl text-white mb-2 pl-4">Latest Blogs</h2>
  <div class="h-full flex flex-col gap-4 md:flex-row">
    @if (isBlogsLoading()) {
      @for (item of blogItems; track $index) {
        <ngx-skeleton-loader
          animation="pulse"
          appearance="circle"
          [theme]="{
            'border-radius': '15px',
            'background-color': '#035e63',
            height: '100%',
            width: '435px'
          }"
        />
      }
    } @else {
      @for (
        blog of blogs()
          | paginate
            : { itemsPerPage: tableSize, currentPage: page, totalItems: count }
          | slice: 0 : 2;
        track $index
      ) {
        @if ($first) {
          <latest-blog
            @fade
            [blog]="blog"
            [longDescriptionCutOff]="5"
            class="w-full md:w-1/2"
          ></latest-blog>
        } @else {
          <latest-blog
            @fade
            [blog]="blog"
            class="hidden md:block w-1/2"
          ></latest-blog>
        }
        <!-- If the blogs total is not even, add a skeleton loader at the end -->
        <!-- @if (blogs().length % 2 !== 0 && page === (blogs().length + 1) / 2) {
          <ngx-skeleton-loader
            animation="pulse"
            appearance="circle"
            [theme]="{
              'border-radius': '15px',
              'background-color': '#035e63',
              height: '90%',
              width: '400px'
            }"
          />
        } -->
      } @empty {
        <div class="text-red-300 text-center text-4xl">NO BLOGS AVAILABLE</div>
      }
    }
  </div>
  <div class="flex justify-center items-center text-center pt-8 mx-auto w-full">
    @if (!isBlogsLoading()) {
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      >
      </pagination-controls>
    }
  </div>
</div>
