<div class="flex flex-col space-y-8">
  <h2 class="font-bold mb-2 text-5xl">Robotics</h2>
  <h4 class="font-bold text-4xl">
    Scientists invent electronic skin that that gives amputees sense of touch
  </h4>
  <p class="text-2xl">
    Scientists have invented a type of electronic skin that can “talk directly
    to the brain”, allowing amputees to feel a human-like sense of touch through
    prosthetic limbs. The ground-breaking artificial skin is embedded with
    sensors for temperature, pressure and strain, which are converted into
    electrical signals - similar to how nerve impulses communicate with the
    brain. The wearable electronic circuit, known as a monolithic e-skin, was
    developed by a team from Stanford University, who detailed their
    breakthrough in a study published in the journal Science.
  </p>
</div>
