<div class="flex flex-col justify-start items-start mb-5 h-full">
  <h2 class="text-5xl text-white pl-4">Blogs</h2>
  <div class="flex justify-around items-center gap-10 w-full">
    <!-- Add blog Card -->
    <blog-card
      class="w-1/5 h-60 py-2"
      [blog]="addBlogMetaData"
      [isLargeBoxShadow]="false"
      (click)="navigateToAddBlogPage()"
    ></blog-card>

    @if (isBlogsLoading()) {
      @for (item of blogItems; track $index) {
        <div class="w-1/5 h-60 py-2">
          <ngx-skeleton-loader
            animation="pulse"
            appearance="circle"
            [theme]="{
              'border-radius': '15px',
              height: '100%',
              width: '99%',
              'background-color': '#035e63'
            }"
          />
        </div>
      }
    } @else {
      @for (blog of blogCategories() | slice: 0 : 4; track $index) {
        <blog-card
          @fade
          class="w-1/5 h-60 py-2"
          [isLargeBoxShadow]="false"
          [blog]="blog"
        ></blog-card>
      }
    }
  </div>
</div>
