<header class="mx-auto">
  <nav class="flex justify-around items-center">
    <img
      src="assets/svgs/logo.svg"
      routerLink="/home"
      class="cursor-pointer"
      width="124px"
      height="134px"
      alt="logo"
    />
    <ul class="flex justify-center items-center font-bold gap-14 text-4xl">
      @for (nav of navLinks; track $index) {
        <li class="relative">
          <nav-link
            (click)="onNavClicked()"
            [route]="''"
            [label]="nav.label"
            [textColor]="'white'"
            [isTextShadow]="false"
          ></nav-link>
          @if ($index === selectedActiveRouteIndex()) {
            <span
              class="absolute -bottom-5 left-3 h-2 w-10/12 bg-white rounded-full"
            ></span>
          }
        </li>
      }
    </ul>
  </nav>
</header>
