<header class="mx-auto">
  <nav class="flex justify-around items-center">
    <img
      src="assets/svgs/logo.svg"
      routerLink="/home"
      class="cursor-pointer"
      width="124px"
      height="134px"
      alt="logo"
    />
    <ul class="flex justify-center items-center font-bold gap-14 text-4xl">
      @for (nav of navLinks; track $index) {
        <li>
          <nav-link
            (click)="onNavClicked()"
            [route]="''"
            [label]="nav.label"
            [textColor]="'white'"
            [isTextShadow]="false"
          ></nav-link>
        </li>
      }
    </ul>
  </nav>
</header>
