<div
  class="flex flex-col justify-center items-center text-white lg:text-black p-3 lg:items-start lg:justify-between"
>
  <img
    src="assets/gifs/welcome.gif"
    alt=""
    class="hidden mb-auto lg:inline-block"
  />
  <h1 class="flex items-center align-middle font-bold">
    <span class="text-4xl lg:text-[54px]">C</span>
    <img
      src="assets/svgs/logo.svg"
      routerLink="/home"
      width="120"
      height="120"
      alt="logo"
      class="cursor-pointer logo-home"
    />
    <span class="text-4xl lg:text-[54px]"> NTRIBUVERSE </span>
  </h1>
  <div
    class="text-2xl flex flex-col px-2 justify-between sm:text-3xl md:text-3xl"
  >
    <p>
      At Contribuverse, we believe that technology is not just a field; it's a
      global conversation. By curating and creating content focused on articles,
      blogs, and daily trending news, we aim to provide a space where tech
      enthusiasts can engage, learn, and contribute. Our platform is built on
      the principles of openness, collaboration, and community, making it the
      perfect home for those passionate about the ever-evolving world of
      technology. Join us as we explore, discuss, and contribute to the tech
      discourse.
    </p>
    <p>
      Feel free to customize these samples according to the specific tone,
      style, and goals of your website.
    </p>
  </div>
</div>
