/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333;
}

.wrapper {
  @apply text-white transform hover:scale-105 transition-all duration-300 ease-in-out cursor-pointer hover:bg-secondaryBlue shadow-black shadow-lg;
}
