<header class="mx-auto">
  <nav class="flex justify-between items-center text-black p-16">
    <div class="logo">
      <a routerLink="/home" routerLinkActive="active">
        <!-- <img src="assets/images/logo.png" alt="logo"> -->
        <h1 class="text-5xl font-bold text-shadow shadow-black">
          CONTRIBUVERSE
        </h1>
      </a>
    </div>
    <ul class="flex justify-between items-center font-bold text-4xl space-x-6">
      <li>
        <nav-link [route]="'home'" [label]="'HOME'"></nav-link>
      </li>
      <li>
        <nav-link [route]="'about'" [label]="'ABOUT'"></nav-link>
      </li>
      <li>
        <nav-link [route]="'news'" [label]="'NEWS'"></nav-link>
      </li>
      <li>
        <nav-link [route]="'blogs'" [label]="'BLOGS'"></nav-link>
      </li>
    </ul>
  </nav>
</header>
