<header class="mx-auto">
  <nav class="flex justify-between items-center text-black p-16">
    <div class="logo">
      <a routerLink="/home" routerLinkActive="active">
        <!-- <img src="assets/images/logo.png" alt="logo"> -->
        <h1 class="text-5xl font-bold text-shadow shadow-black">
          CONTRIBUVERSE
        </h1>
      </a>
    </div>
    <ul class="flex justify-between items-center font-bold text-4xl space-x-6">
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          class="text-shadow shadow-black"
          >HOME</a
        >
      </li>
      <li>
        <a
          routerLink="/about"
          routerLinkActive="active"
          class="text-shadow shadow-black"
          >ABOUT</a
        >
      </li>
      <li>
        <a
          routerLink="/contact"
          routerLinkActive="active"
          class="text-shadow shadow-black"
          >SEARCH</a
        >
      </li>
    </ul>
  </nav>
</header>
