<header class="mx-auto">
  <nav class="flex justify-between items-center text-black p-16">
    <div class="logo">
      <a routerLink="/home" routerLinkActive="active">
        <!-- <img src="assets/images/logo.png" alt="logo"> -->
        <h1 class="text-5xl font-bold text-shadow">CONTRIBUVERSE</h1>
      </a>
    </div>
    <ul class="flex justify-between items-center font-bold text-4xl space-x-6">
      <li>
        <a routerLink="/home" routerLinkActive="active" class="text-shadow"
          >HOME</a
        >
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active" class="text-shadow"
          >ABOUT</a
        >
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active" class="text-shadow"
          >SEARCH</a
        >
      </li>
    </ul>
  </nav>
</header>
