<div
  @fade
  class="h-full w-full flex justify-center items-center bg-tertiaryBlue md:items-start"
>
  <div class="w-5/6 h-10/12">
    <news-header
      class="hidden md:block"
      [selectedActiveRouteIndex]="currentSlidePosition()"
      (isNavLinkClicked)="handleNavLinkClick($event)"
    ></news-header>
    <dynamic-nav
      class="hidden md:block"
      [isNavLinkClicked]="navLinkClicked()"
      [slidePosition]="currentSlidePosition()"
      (slidePositionBtnEvent)="getCurrentSlideStatus($event)"
    ></dynamic-nav>
    <news-body
      [activeSlideIndex]="currentSlidePosition"
      (currentSlidePositionEvent)="getCurrentSlideStatus($event)"
    ></news-body>
  </div>
</div>
