<div class="w-full bg-secondaryBlue rounded-[35px] py-5 px-6">
  <div
    class="bg-darkBlue rounded-[35px] flex justify-between items-center py-4 px-6 gap-6 cursor-pointer"
  >
    <div class="rounded-full border-2 border-white bg-secondaryBlue">
      <img src="assets/svgs/logo.svg" alt="Logo" width="50" />
    </div>
    <input
      type="text"
      class="text-white border-none p-2 rounded-lg w-full focus:outline-none focus:border focus:border-blue-500 transition-colors duration-300 bg-transparent"
      placeholder="Search here"
    />
    <img
      src="assets/svgs/search-icon.svg"
      alt="Search Icon"
      width="36"
      height="36"
    />
  </div>
</div>
