<div
  class="mb-4 mx-auto flex justify-center items-center transition ease-in-out delay-700"
>
  @if (slidePosition === 0) {
    <news-tab-button
      #myNewsTabButton
      [label]="'Metaverse'"
      [imageUrl]="rightArrow"
      [altText]="'right arrow'"
      (click)="slide(1)"
    ></news-tab-button>
  } @else if (slidePosition === 1) {
    <div class="flex justify-between items-center gap-8">
      <news-tab-button
        #myNewsTabButton
        [isLabelLeft]="false"
        [label]="'Robotics'"
        [imageUrl]="leftArrow"
        [altText]="'left arrow'"
        (click)="slide(0)"
      ></news-tab-button>
      <news-tab-button
        #myNewsTabButton
        [label]="'Gaming'"
        [imageUrl]="rightArrow"
        [altText]="'right arrow'"
        (click)="slide(2)"
      ></news-tab-button>
    </div>
  } @else if (slidePosition === 2) {
    <div class="flex justify-between items-center gap-8">
      <news-tab-button
        #myNewsTabButton
        [isLabelLeft]="false"
        [label]="'Metaverse'"
        [imageUrl]="leftArrow"
        [altText]="'left arrow'"
        (click)="slide(1)"
      ></news-tab-button>
      <news-tab-button
        #myNewsTabButton
        [label]="'Movies'"
        [imageUrl]="rightArrow"
        [altText]="'right arrow'"
        (click)="slide(3)"
      ></news-tab-button>
    </div>
  } @else if (slidePosition === 3) {
    <news-tab-button
      #myNewsTabButton
      [isLabelLeft]="false"
      [label]="'Gaming'"
      [imageUrl]="leftArrow"
      [altText]="'left arrow'"
      (click)="slide(2)"
    ></news-tab-button>
  }
</div>
